* {
    margin: 0px;

}

body {
    background-color: #000F1A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    height: 100vh;
    /* يأخذ كل الشاشة */
    overflow: hidden;



}


.main_page {
    /* الكتابة من اليمين لليسار  */
    direction: rtl;

    display: flex;
    width: 100%;
    height: 100%;
}

/* *************** S الصفحة الجانبية *********************** */
/* تنسيق شكل الصفحة الاساسية التي تضم الشريط الجانبي  */
#main_side_menu {
    background-color: #001E33;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    direction: rtl;

    flex-shrink: 0;
    /* أو لا تكتبها لأن static هو الوضع الافتراضي */
    width: 17vw;
    /* عرض الشاشة */
    height: 100vh;
    overflow: hidden;

}

.style- {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.style- .title- {
    display: flex;
    align-items: center;
    gap: 40px;
}

#main_side_menu header {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#main_side_menu header div {
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 35px;
    align-items: center;
}

#main_side_menu header div:hover {
    background-color: #0194FF;
}

#main_side_menu div span {
    color: #FAFAFA;

    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    padding-right: 10px;
    /* 140% */
}

/* *********************** E الشريط الجانبي *********************** E  */

/* left_side_page  */
.left_side_page {

    width: 80vw;
    padding-left: 30px;
    margin-right: 30px;
    overflow-y: auto;
    overflow-x: hidden;



}

#storage_page {
    display: none;
}


/* شريط تحكم اين انت  بالنسبة للصفحات  */
.conrol {
    display: flex;

    height: 89px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background: #000F1A;
    width: 80vw;
}

.conrol div {
    text-align: center;
    font-size: 25px;
    color: white;
    cursor: pointer;

}

/********************************* صفحة الاساسية S <<<<<<<<<<<<<<<<<<<<< */
/* cart style <<<S>>> */
.cart {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 15px 20px 35px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;

}

.SalesCard {
    background: #0194FF;
}

.InventoryCard,
.ProfitCard,
.AlertCard {
    background: #001E33;
}

.icon-cart {
    display: flex;
    padding: 11px;
    align-items: center;
    gap: 10px;
    border-radius: 26px;

}

.icon-InventoryCard,
.icon-ProfitCard,
.icon-AlertCard {
    background-color: #000F1A;
}

.icon-SalesCard {
    background-color: #FFFFFF;
}

.title-cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    align-self: stretch;
}

.title-cart h3 {
    color: #F2F0FF;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Title */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 125% */
}

.inf-cart {
    color: var(--color, #484849);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.bttun-cart {
    margin-right: 60px;
    margin-top: 10px;
    display: flex;
    width: 80px;
    height: 30px;
    padding: 10px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;

    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline */

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}

#bttun-SalesCard {
    background: #FFF;
    color: #0194FF;

}

#bttun-InventoryCard,
#bttun-ProfitCard,
#bttun-AlertCard {
    background: #0194FF;
    color: var(--color, #FFF);

}

.title-TopSellingProducts {
    color: #FFF;

    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

.quick-search {
    margin-top: 15px;
    color: #FFF;

    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

.notification-popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    align-self: stretch;
}

#alert-message {
    width: 100%;
}

#one_alert-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.18);
padding-bottom: 5px;
}

.one_alert-message1 {
    display: flex;
    align-items: flex-start;
    gap: 19px;
}

.icon_aleter {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 11px 13px;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #001E33;
}

.text_notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

.info_notification {
    color: #FFF;

    font-feature-settings: 'liga' off, 'clig' off;
    /* Title */

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.info_notification_prodact {
    color: var(--color, #65676B);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline */
 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

/* عرض المنتجات الاكثر مبيعا */




/* عرض عناصر الفاتورة  */
.show_all_items_in_table {
    background-color: #001E33;
    margin-top: 15px;

    display: flex;
    border-radius: 15px;
    max-height: 450px;
    overflow-y: auto;
    flex-direction: column;
    flex-shrink: 0;
    direction: ltr;
}

#filter-tabs {
    display: flex;
    gap: 23px;
    justify-content: flex-start;
    border-bottom: 1px solid #001E33;
    padding: 10px 0px 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: 400;


}

#filter-tabs span {
    cursor: pointer;
    padding-bottom: 10px;
    transition: 0.3s;
}

#filter-tabs span:hover {
    color: #2FABCD;
    transition: 0.3s;
    border-bottom: 1px solid #2FABCD;
}

#filter-tabs #all-products-tab {
    border-bottom: 1px solid #2FABCD;
    color: #2FABCD;
}



.namber-is-prodact {
    width: fit-content;
    display: flex;
    gap: 10px;

    border-bottom: 1px solid #001E33;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}


/* تفاصيل صفحة المخزون  */
.inf-box-all-item {
    display: block;
    margin: 30px 0;
}

.title_serch {
    color: #FFF;

    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-weight: 400;
}

.search_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.search_input input {
    display: flex;
    width: 70vw;
    margin-left: 30px;
    height: 50px;
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #001E33;
    border: none;
    font-size: 17px;
    color: #fff;
    outline: none;

}

.search_input .icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #001E33;
    cursor: pointer;
}



/* الترويسة  */
.title_in_show_table {
    display: flex;
    background-color: #00365c;
    height: 60px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #000F1A;
    position: sticky;
    top: 0px;
    direction: rtl;
    z-index: 10;

}

.title_in_show_table span {
    width: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.52);
    text-align: center;
    color: #FFF;
    font-weight: 600;

}

.title_in_show_table .icon1 {
    width: 30px;
    height: 30px;
    display: flex;
    position: sticky;
    right: 10px;
    border: none;
}

/* عرض تفاصيل المنتجات  */
.show_items_in_table {
    display: flex;
    flex-direction: column;
    direction: rtl;

}

.one_item_in_storage_box {
    display: flex;
    background-color: #001E33;
    height: 60px;
    width: 100%;
    justify-content: space-around;

    align-items: center;
    border-bottom: 1px solid #000F1A;
    position: relative;

}

.one_item_in_storage_box span {
    width: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.52);
    text-align: center;
    color: #FFF;
    font-weight: 400;


}

.one_item_in_storage_box .icon {
    width: 30px;
    height: 30px;
    display: flex;
    position: sticky;
    right: 10px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.one_item_in_storage_box .icon:active {
    background-color: #00365c;

}

.card_toggle_button {
    display: flex;
    width: 199px;
    padding: 40px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: rgba(1, 148, 255, 0.50);
    backdrop-filter: blur(15px);
    position: absolute;
    z-index: 10;
    left: 50px;
}

.card_toggle_button div {
    width: 90%;
    display: flex;
    height: 35px;
    align-items: flex-start;
    gap: 6px;
    color: #FFF;
    align-items: center;

    font-feature-settings: 'liga' off, 'clig' off;
    /* Subhead 1 */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 125% */
}

.details_box {
    display: flex;
    width: 299px;
    padding: 20px 11px 20px 11px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    border-radius: 20px;
    background: rgba(1, 148, 255, 0.10);
    backdrop-filter: blur(15px);
    position: absolute;
    z-index: 10;
    left: 300px;
}

.details_box div {
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

}

.details_box div span {
    border: none;
    width: fit-content;
}

.card_toggle_button div:active {
    border-radius: 10px;
    background: var(--body, #000F1A);
}

.active {
    border-radius: 10px;
    background: var(--body, #000F1A);
}

.title-Operations {
    color: #FFF;
    margin-top: 30px;
    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 10px;
    /* 140% */
}



/* تنسيق ازرار العمليات اضافة فاتورة وتقرير وجرد  */
.quick-actions {

    display: inline-flex;
    align-items: start;
    gap: 15px;

}

.button {
    display: flex;
    width: 100px;
    height: 35px;
    padding: 10px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #CCEAFF;
    cursor: pointer;
    /* تنسيق الخط  */
    color: #634AFF;

    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

#add_new_buy_fatora_button,
#quick-sale__process,
#add_new_product_button {
    color: #ffff;
    background: #634AFF;
}

/* احصائيات سريعة  */
.title-stats-card {
    margin-bottom: 30px;
    color: #FFF;
    margin-top: 10px;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

/* كروت الخاصة بالاحصائيات السريعة  */
.stats-card {
    display: flex;

    padding: 15px 0px;
    justify-content: space-around;
    align-items: center;
}

/* الكرت الاول  */
.stats-item--low-stock,
.stats-item--least-selling,
.stats-item--top-selling {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 15px 20px 35px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
}

.stats-item--low-stock {
    border-radius: 20px;
    background: #0194FF;
}

.stats-item--low-stock .icon-low-stock svg,
.icon-top-selling svg,
.icon-least-selling svg {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
}

.stats-item--low-stock .icon-low-stock {
    display: flex;
    padding: 11px;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    background: #FFF;
}

.inf-stats-item--low-stock {
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;

}

.inf-stats-item--low-stock h3 {
    color: #FFF;

    font-feature-settings: 'liga' off, 'clig' off;
    /* Title */

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 125% */
}

.prodact-nambr {
    flex-direction: column;
    gap: 5px;
    color: #F2F0FF;

    font-feature-settings: 'liga' off, 'clig' off;
    /* Title */

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 125% */
}

#inf--low-stock {
    color: var(--color, #3e4042);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline */

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

#bttun-low-stock {
    display: flex;
    width: 125px;
    height: 35px;
    padding: 7px 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #FFF;
    color: #0194FF;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    /* 137.5% */
}

/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.stats-item--least-selling,
.stats-item--top-selling {
    border-radius: 20px;
    background: #001E33;
}


.icon-least-selling,
.icon-top-selling {
    display: flex;
    padding: 11px;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    background: #000F1A;
    margin-bottom: 30px;
}

.inf-least-selling {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.inf-least-selling h3 {
    color: #F2F0FF;

    font-feature-settings: 'liga' off, 'clig' off;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 125% */
    letter-spacing: 1px;
}

#stats-name-top-selling,
#stats-name-least-selling {
    color: #FFF;


    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 122.222% */
}

.inf-stats-item--top-selling,
.inf-stats-item--least-selling {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    /* تنسيق الخط  */
    color: var(--color, #65676B);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline */

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* صفحة اضافة الفاتورة من هنا التنسيق  */
.add-2 {
    color: #FFF;

    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Cairo;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 125% */
}

.info-inv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    height: 105px;
    align-items: center;
    gap: 61px;
    flex-shrink: 0;

}

/* اضافة معلومات الفاتورة الاساسية  */
.aav {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
}

.aav label {

    margin-bottom: 3px;
    font-weight: bold;
    color: #ffffff;


    margin-left: 10px;
}

.aav input {
    padding: 15px;

    color: #FFF;

    font-size: 14px;
    border-radius: 13px;
    background-color: #001E33;
    border: none;
    outline: none;
}

/* #morid {
    width: 80%;
    display: none;
    مخفية مبدئيا
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #00365c;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

} */

/* #morid span {
    font-size: large;
    width: 90%;
    display: block;
    background: #0194FF;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    يمنع نزول الكلمة على سطرين
    flex-grow: 1;
    text-align: center;
    min-width: 80px;
    color: #000F1A;
    font-size: 20;
} */

.morid_name {
    position: relative;
}

#total_price_div,
#total_price_span {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 20px;
}

.text h1 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 140% */
}

.text h2 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 140% */
}

/* رسالة تنبيه  */
.Notification {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 200px;
    left: 30vw;
    width: 350px;
    height: 250px;
    background-color: #a88422;
    border-radius: 20px;
    z-index: 1000;


}

.Notification h3,
p {
    color: #ffffff;
    margin: 20px;
    justify-content: space-between;

}

.Notification h3 {
    font-size: 25px;

}

.Notification p {
    font-size: 20px;
}

.Notification button {
    background-color: #ffffff;
    color: #000000;
    margin: 40px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer
}


.add_item_in_fatora_button {
    color: white;
    padding: 10px;
    height: 30px;
    font-weight: 500;
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
    background-color: #0194FF;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.add_item_in_fatora_button:hover {
    padding: 10px;
    background-color: #00508a;
    border-radius: 15px;
    height: 30px;


}

.tit {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-top: 20px;

    /* 140% */
}

/* عرض عناصر الفاتورة  */
.show_items_in_fatora {
    background-color: #001E33;
    margin-top: 15px;
    width: 75VW;
    display: flex;
    border-radius: 25px;
    max-height: 600px;
    overflow-y: auto;
    flex-direction: column;
    flex-shrink: 0;




}

.show_items_in_fatora .inf-fat {
    display: flex;
    background-color: #001E33;
    height: 60px;
    width: 100%;
    justify-content: space-around;

    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #000F1A;
    position: sticky;
    top: 0;
}

.show_items_in_fatora .inf-fat span {
    width: 17%;
    border-left: 1px solid rgba(255, 255, 255, 0.52);
    text-align: center;
    color: #FFF;
    font-weight: 600;
}


.inf-fat2 {
    display: flex;

    height: 60px;
    width: 100%;
    justify-content: space-around;

    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #000F1A;
}

.inf-fat2 span {
    width: 17%;
    border-left: 1px solid rgba(255, 255, 255, 0.52);
    text-align: center;
    color: #FFF;
    font-weight: 600;
    justify-content: space-between;
}

.t1 {
    display: inline-flex;
    align-items: center;
    gap: 54px;
}

.delete_button {

    width: 50px;
    cursor: pointer;
}

/* الازرار حفظ والالغاء  */
.add_fatora_button,
.cancel_fatora_button {

    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 200px;
    padding: 10px;
    height: 40px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;



    cursor: pointer;
}

.add_fatora_button {
    background: #634AFF;
    color: #FFF;
}

.cancel_fatora_button {

    color: #634AFF;
    background: #CCEAFF;
}

/* تنسيف فاتورة البيع  */
.invoice_customer_info {
    display: flex;
    align-items: center;
    gap: 61px;
    align-self: stretch;
}

.invoice_customer_info div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    flex: 1 0 0;
}

.info input {
    width: 250px;
}

.client_supplier_dropdown {
    width: 80%;
    display: none;
    /* مخفية مبدئيا */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #00365c;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
}

.client_supplier_dropdown span {
    font-size: large;
    width: 90%;
    display: block;
    background: #0194FF;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    /* يمنع نزول الكلمة على سطرين */
    flex-grow: 1;
    text-align: center;
    min-width: 80px;
    color: #000F1A;
    font-size: 20;
}

.payment_info {
    display: flex;
    gap: 50px;
}

.payment_info div {
    margin-bottom: 0;
}











#sale_fatora_box {
    display: none;
}

#Control_panel_page{
    display: none;
}
#storage_page {
    display: none;
}



#buy_fatora_box {
    display: none;
}